.color-nav{
    background-color:coral;
}

.content{
    padding: 12px
    
}
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=PT+Serif:ital,wght@1,700&display=swap');

.nav {
    font-family: "Imperial Script" serif;
}